.col:nth-last-child(2),
.col:nth-last-child(2) ~ .col {
  width: 50%;
}

.col:nth-last-child(3),
.col:nth-last-child(3) ~ .col {
  width: 33.33333333%;
}

.col:nth-last-child(4),
.col:nth-last-child(4) ~ .col {
  width: 25%;
}

.col:nth-last-child(5),
.col:nth-last-child(5) ~ .col {
  width: 20%;
}