.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 50px auto;
  font-size: 18px;
  border-radius: 50%;
  background-color: blue;
  color: #fff;
}
